body{
    font-family: 'Roboto', sans-serif;
    /* padding: 50px; */
}


h1{
    width: 80%;
    margin: 50px auto;
    font-size: 2em;
}

.form{
    width: 50%;
    margin: 0 4.5em;;
    display: flex;
    flex-direction: column;
}
    .info-aluno{
        display: flex;

    }

    .notas{
        display: flex;
    }
    .notas input {
        width: 100%;
    }

    label{
        margin: 20px 0 0 20px;
        color: #1a1919;
        font-weight: bold;
    }

        input{
            font-family: 'Roboto', sans-serif;
            border: 1px solid #6b6b6b;
            padding: .3em;
            border-radius: 2px;
            margin: 3.5px 0;
            font-size: 1em;
        }

    .btn-addAluno{
        margin: 20px 0 0 20px;
        width: 15%;
        background: #1f65fc;
        border: none;
        border-bottom: 5px solid #103686;
        padding: 5px 15px;
    }

    .btn-addAluno:active{
        border-bottom: 5px solid #ffffff;
    }

input:focus{
    box-shadow: 0 0 3px #1f65fc;
    border: 1px solid #1f65fc;
}

table{
    margin: 3em 5.5em;
}
thead td{
    background: #d1d1d1;
    border: 2px solid #6b6b6b;
    padding: 10px 20px;
    text-align: center;

}

.abv td{
    text-align: center;
    padding: 9px;

}